<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore numquam odit maxime delectus voluptatum
  consectetur, provident reprehenderit dolorem nulla recusandae deserunt tempora tenetur eos reiciendis quidem dolorum
  explicabo omnis.</p>
<div>
  <input type="text" spellcheck="true">
  </div>
  <div>
    <video width="300px" height="300px" controls poster="./../assets/picture.jpg">
      <source src="./../assets/spellcheck.mp4" >
      <source src="./../assets/spellcheck.mp4" >
    </video>
  </div>
  <div>
    <audio controls>
      <source src="./../assets/song1.mp3">
    </audio>
  </div>