<!--Html5 attributes-->
<!-- <details>
    <summary>Details calarifications 1:</summary>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veniam suscipit nemo odio voluptatem, architecto
        consequatur saepe quae harum pariatur minima natus soluta fugiat. Porro provident sed ad laudantium illum.</p>
</details>
<details>
    <summary>Details calarifications 2:</summary>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veniam suscipit nemo odio voluptatem, architecto
        consequatur saepe quae harum pariatur minima natus soluta fugiat. Porro provident sed ad laudantium illum.</p>
</details>
<details>
    <summary>Details calarifications 3:</summary>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veniam suscipit nemo odio voluptatem, architecto
        consequatur saepe quae harum pariatur minima natus soluta fugiat. Porro provident sed ad laudantium illum.</p>
</details> -->

<!--dropdown-->
<!-- <div>
    <input type="text" list="cars_list" id="list" name="cars_list">
    <datalist id="cars_list">
        <option value="Benz"></option>
        <option value="Audi"></option>
        <option value="Toyota"></option>
        <option value="Tata"></option>
        <option value="Volks Wagaon"></option>
    </datalist>
</div> -->

<!--Insert and Delete-->
<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe reprehenderit ipsam minus numquam similique
    corrupti nemo, dicta mollitia cum aut, <del>Represent</del>, <ins>REPRESENTATION</ins> ducimus non porro? Vero soluta ipsa est excepturi.</p> -->

<div class="container">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, magnam sint? Doloremque corporis temporibus possimus, laudantium incidunt cum dolorem velit inventore repellat, unde commodi voluptate in libero quia! Tempora, vel.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, magnam sint? Doloremque corporis temporibus possimus, laudantium incidunt cum dolorem velit inventore repellat, unde commodi voluptate in libero quia! Tempora, vel.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, magnam sint? Doloremque corporis temporibus possimus, laudantium incidunt cum dolorem velit inventore repellat, unde commodi voluptate in libero quia! Tempora, vel.</p>
</div>